{% extends 'blog_app/form_base.html' %}

{% block title %}Crear publicacion{% endblock %}

{% block formulario %}

  <form
        action="{% url 'recibir_post' %}"
        method="POST"
        enctype="multipart/form-data"
        class="gap-3 rounded-3 bg-light m-3"
      >
  {% if usuario %}
  {% csrf_token %}
        <div class="w-100 bg-success-subtle fw-semibold h5 d-flex justify-content-center align-items-center pt-3 pb-3"><p class="m-0 p-0">Crear publicacion</p></div>
        <div class="div-1 gap-2 ms-5 me-5">
          <label for="textarea-contenido">Contenido</label>
          <textarea name="contenido" id="textarea-contenido" class="w-100"></textarea>
          <label for="input-img mb-0" class="form-label">Imagen (Opcional)</label>
          <input name="img" class="form-control" type="file" id="input-img">
        </div>

        <button class="btn btn-success ms-5 me-5 mb-4 mt-2 fw-semibold">Crear</button>
  {% else %}
        <div class="w-100 bg-danger-subtle fw-semibold h2 pt-3 pb-3 text-center">No puedes crear publicaciones</div>
        <p class="m-0 p-2 h5 text-center width-personalizado">Para crear publicaciones usted debe registrarse o iniciar sesion</p>
        <div class="d-flex justify-content-center align-items-center gap-3 pb-3">
          <a href="{% url 'register' %}" class="text-decoration-none fw-semibold">Crea cuenta</a>
          |
          <a href="{% url 'login_vista' %}" class="text-decoration-none fw-semibold">Inicia Sesion</a>
        </div>
  {% endif %}
  </form>
{% endblock %}