{% extends 'base.html' %} 
{% load static %} 
{% block title %}Mi cuenta{% endblock %} 
{% block main %}
<div class="d-flex flex-column m-3 mb-4 div-miCuenta">
  <div class="d-flex flex-column justify-content-center align-items-center gap-3">
    <div
      class="d-flex justify-content-around align-items-center flex-row gap-3 w-100"
    >
      <div class="w-100 d-flex justify-content-between align-items-center">
        <div class="d-flex flex-row justify-content-center align-items-center gap-3 w-75">
          <img src="{% static 'icons/usuario.png' %}" width="50px">
          <h2 class="h2-name">{{usuario.nombre}}</h2>
        </div>
        <h4 class="text-gray-css">#{{usuario.id}}</h4>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-3 border-top ms-1 me-1 pt-4 w-100 row">
      <button onclick="formNombre()" class="fw-semibold btn a-cuenta border col" style="white-space: nowrap;">
        Cambiar nombre
      </button>
      <button onclick="formPassword()" class="fw-semibold btn a-cuenta border col" style="white-space: nowrap;">
        Cambiar contraseña
      </button>
    </div>
    <button class="w-100 boton-borrar" onclick="formBorrarCuenta()">Borrar mi cuenta</button>
  </div>
</div>
<!--Fondo opaco al hacer click en cualquiera de los botones-->
<div id="div-fondo-opaco"></div>
<!-- Formulario para cambiar el nombre -->
<form action="{% url 'cambiar_nombre' %}" method="POST" id="formNombre" class="gap-3 border rounded-1 form-cambiar-nombre">
  {% csrf_token %}
  <fieldset class="w-100 bg-success-subtle fw-semibold h5 p-3 text-center border-bottom">
    Cambiar nombre
  </fieldset>
  <div class="ms-4 me-4">
    <label for="input-nombre">Nombre nuevo</label>
    <input type="text" name="nombre_nuevo" id="input-nombre" required />
  </div>
  <div class="ms-4 me-4">
    <label for="input-password">Contraseña actual</label>
    <input type="password" name="password" id="input-password" required />
  </div>
  <div class="m-3 mb-4 d-flex flex-row gap-3">
    <button type="button" onclick="formNombre()" class="btn btn-danger fw-semibold">Cerrar</button>
    <button type="submit" class="btn btn-primary fw-semibold">Enviar</button>
  </div>
</form>
<!-- Formulario para cambiar la contraseña -->
 <form action="{% url 'cambiar_password' %}" method="POST" id="formPassword" class="gap-3 border rounded-1 form-cambiar-password">
  {% csrf_token %}
  <fieldset class="w-100 bg-info-subtle fw-semibold h5 p-3 text-center border-bottom">
    Cambiar contraseña
  </fieldset>
  <div class="ms-4 me-4 d-flex flex-column">
    <label for="input-password-actual">Contraseña actual</label>
    <input type="password" name="passwordActual" id="input-password-actual" required />
  </div>
  <div class="ms-4 me-4 d-flex flex-column">
    <label for="input-password-nueva">Contraseña nueva</label>
    <input type="password" name="passwordNueva" id="input-password-nueva" required />
  </div>
  <div class="m-3 mb-4 d-flex flex-row gap-3">
    <button type="button" onclick="formPassword()" class="btn btn-danger fw-semibold">Cerrar</button>
    <button type="submit" class="btn btn-primary fw-semibold">Enviar</button>
  </div>
</form>
<!-- Formulario de borrar cuenta -->
 <form action="{% url 'borrar_cuenta' %}" method="POST" id="formBorrarCuenta" class="gap-3 border rounded-1 form-borrar-cuenta">
  {% csrf_token %}
  <div class="d-flex justify-content-center align-items-center flex-column gap-3 w-100" id="div-form">
    <fieldset class="w-100 bg-danger-subtle fw-semibold h5 p-3 text-center border-bottom">
      Borrar cuenta
    </fieldset>
    <div class="ms-4 me-4 d-flex flex-column">
      <label for="input-password1">Contraseña</label>
      <input type="password" name="password" id="input-password1" required />
    </div>
    <div class="ms-4 me-4 d-flex flex-column">
      <label for="input-password2">Confirmar contraseña</label>
      <input type="password" name="passwordConfirmar" id="input-password2" required />
    </div>
    <div class="m-3 mb-4 d-flex flex-row gap-3">
      <button type="button" onclick="formBorrarCuenta()" class="btn btn-danger fw-semibold">Cerrar</button>
      <button type="button" onclick="mostrarConfirmacion()" class="btn btn-primary fw-semibold">Enviar</button>
    </div>
  </div>
  <!-- Confirmacion de eliminar cuenta -->
  <div class="d-none justify-content-center align-items-center flex-column p-3 gap-3" id="div-confirmacion">
    <p class="m-0 p-0 text-center">¿Esta seguro de querer eliminar su cuenta?<br>
    Todas sus publicaciones se borraran para siempre</p>
    <div class="d-flex flex-row gap-3">
      <button type="button" onclick="cancelarBoton()" class="btn btn-primary">No</button>
      <button type="submit" class="btn btn-danger">Si</button>
    </div>
  </div>
 </form>

 {% if messages %}
    {% for message in messages %}
      <div class="d-flex justify-content-between align-items-center flex-row p-2 ms-4 mb-2 rounded-1 border MSG
      {% if message.tags == 'success' %}border-success-subtle bg-success-subtle text-success MSG-SUCCESS
      {% elif message.tags == 'error' %}border-danger-subtle bg-danger-subtle text-danger-emphasis MSG-ERROR
      {% endif %}{% if message.tags %}MSG-VER{% endif %}">
        <p class="h3 m-0 p-0">{{ message }}</p>
      </div>
    {% endfor %}
  {% endif %}

{% endblock %} 

{% block endbody %}
<script src="{% static  'js/mi_cuenta.js' %}" defer></script>
{% endblock %}
