.div-miCuenta {
  width: 90%;
}
.a-cuenta {
  background: rgba(207, 207, 207, 0.295);
  color: rgb(0, 110, 255);
  text-decoration: none;
  font-size: 18px;
  transition: 0.1s;
}
.a-cuenta:hover {
  background: rgba(216, 216, 216, 0.178);
  color: rgb(0, 153, 255);
}
.text-gray-css {
  color: rgb(165, 165, 165);
}
.boton-borrar {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 22px;
  border-radius: 5px;
  color: rgba(177, 52, 52, 0.651);
  border: 1px solid rgba(182, 0, 0, 0.219);
  background: rgba(255, 0, 0, 0.11);
  transition: 0.05s ease;
}
.boton-borrar:hover {
  color: rgb(206, 0, 0);
  border: 1px solid rgba(182, 0, 0, 0.562);
  background: rgba(255, 0, 0, 0.199);
}

/* Cuando le damos click a un boton se pone opaco el fondo*/

#div-fondo-opaco {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.418);
  min-height: 110vh;
  width: 100%;
  transition: 0.1s ease;
}
.mostrar-div {
  opacity: 1 !important;
  visibility: visible !important;
}

/* Formularios de los botones */

.form-cambiar-nombre, .form-cambiar-password {
  /* Para la animacion*/
  opacity: 0;
  visibility: hidden;
  /* Normal */
  z-index: 1;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.425);
  /* Esto lo centra */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Animacion */
  transition: 0.05s ease;
}
.form-cambiar-nombre div {
  display: flex;
  flex-direction: column;
}
.mostrarForm {
  opacity: 1;
  visibility: visible;
}

/* Mensaje al cambiar nombre o contraseña */

.MSG {
  z-index: 0;
  position: absolute;
  bottom: 110px;
  white-space: nowrap;
}
.MSG.MSG-VER {
  animation: slideIn 0.5s forwards ease-in-out, slideOut 0.5s 3s forwards ease-in-out;
}
.MSG-ERROR { /* Borde del mensaje de error */
  border-left: 5px solid rgba(240, 52, 52, 0.856) !important;
}
.MSG-SUCCESS {  /* Borde del mensaje de exito */
   border-left: 5px solid rgba(7, 214, 0, 0.856) !important;
}

/* Animación de entrada */
@keyframes slideIn {
  from {
    right: -500px;
  }
  to {
    right: 30px;
  }
}
/* Animación de salida */
@keyframes slideOut {
  from {
    right: 30px;
  }
  to {
    right: -500px;
  }
}